body {
  font-family: Lora;
  background: linear-gradient(#17152c, #21155d, #73557d, #7341d6, #010101);
}
.container {
  max-width: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../images/Lucid_Origin_Generate_an_image_of_a_city_and_a_thunderstorm_in_0.jpg");
  background-repeat: no-repeat;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.9);
  border-radius: 16px;
  padding: 30px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 10px;
}
.search-input-button {
  background: #7341d6;
  padding: 10px 10px;
  border: none;
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
.search-input-button:hover {
  cursor: pointer;
}

main {
  padding: 30px 0;
}
.weather-information {
  display: flex;
  justify-content: space-between;
}
.city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-information {
  font-size: 16px;
  color: white;
  line-height: 24px;
  font-weight: 500;
}
.humidity,
.wind-speed {
  color: #55b3c3;
  font-weight: 900;
}
.weather-temp-container {
  display: flex;
}
.weather-icon {
  width: 88px;
  height: 88px;
}
.actual-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}
.unit {
  margin-top: 14px;
  font-size: 28px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: white;
}
a {
  color: #55b3c3;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.weather-forecast-date {
  font-size: 16px;
  color: white;
  opacity: 0.7;
}
.weather-forecast-icon {
  width: 100%;
}
.weather-forecast-temperature {
  font-size: 13px;
  color: white;
}
.weather-forecast-temp-min {
  opacity: 0.7;
}

@media (max-width: 900px) {
  .search-input {
    width: 70%;
  }

  .actual-temperature {
    font-size: 70px;
  }

  .search-input-button {
    font-size: 14px;
  }
}
